body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}

ul {
	padding: 0px;
}


#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
	border: 2px solid black;
}

#collapsable-nav {
	border-radius: 0;
	padding: 0px;
	overflow: hidden;
	height: 135px;
	
	
}

#nav-list a{
	color: black;
	text-align: center;
	text-decoration:  none;
}

a:hover p{ 
    background-color: white;
    margin: 0px;
    text-decoration:  none;
}

.visible-xs {
	border: 1px solid black;
	text-align: center;
	background-color: #808080;
	opacity: 0.8;
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 0 !important;
}

.visible-xs p{
	margin: 0px;
	padding: 8px;
}